<div class="container text-center" >
  <h1>Wagon Hunt</h1>
  <p>Find best tech products</p>
  <p>
    <%= @number_of_products %> new products on <%= @date %>
  </p>
  <%= link_to "See all the products", products_path, class: "btn btn-success" %>
</div>
